{% extends "Media/layout.html" %}

{% load static %}

{% block body %}
    <div class="main-div">
        <div class="left-div">
            <nav class="head heading">
                {% if page == 'all_posts' %}
                    All Posts
                {% elif page == 'following' %}
                    Following
                {% elif page == 'saved' %}
                    Saved
                {% elif page == 'profile' %}
                    Profile
                {% else %}
                    Explore
                {% endif %}
            </nav>
            <div class="left-div-content">
                <div class="posts-view">
                    {% block profile %}
                    {% endblock %}
                    <div class="main-div-content">
                        {% for post in posts %}
                            <div class="post" data-post_id="{{post.id}}">
                                <div>
                                    <div>
                                        <a href="{% url 'profile' post.creater.username %}">
                                            <div class="small-profilepic" style="background-image: url(/Media/{{post.creater.profile_pic}})"></div>
                                        </a>
                                    </div>
                                    <div style="flex: 1">
                                        <div class="post-user">
                                            <div>
                                                <a href="{% url 'profile' post.creater.username %}">
                                                    <span><strong>{{post.creater.first_name}} {{post.creater.last_name}}</strong></span>
                                                </a>
                                                <a href="{% url 'profile' post.creater.username %}">
                                                    <span class="grey">&nbsp;@{{post.creater.username}}</span>
                                                </a>
                                                <span class="grey">&nbsp;&middot;&nbsp;&nbsp;{{post.date_created | date:"P M d Y"}}</span>
                                            </div>
                                            <div class="dropdown " style="height: 1em; margin-top: -3px;">
                                                <button class="icon-btn dropdown-toggle" type="button" id="dropdownMenuButton" onfocus="drop_down(event)" onblur="remove_drop_down(event)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img src="{% static 'Media/Images/down.svg' %}" alt="Options" style="width: 1.1em; height: 1.1em;">
                                                </button>
                                                <div class="dropdown-menu  " aria-labelledby="dropdownMenuButton">
                                                    {% if post.creater == user %}
                                                        <button class="dropdown-item flex w-full justify-start gap-2 items-center flex-row" style="color: #e0245e;" onclick="confirm_delete({{post.id}})">
                                                            <img src="{% static 'Media/Images/trash.svg' %}" alt="Delete" style="width: 1.1em; height: 1.1em;">
                                                            &nbsp;Delete
                                                        </button>
                                                        <button class="dropdown-item w-full flex justify-start gap-2 items-center flex-row" onclick="edit_post(this)">
                                                            <img src="{% static 'Media/Images/edit.svg' %}" alt="Edit" style="width: 1.1em; height: 1.1em;">
                                                            &nbsp;Edit post
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        {% if post.content_text is not None %}
                                            <div class="post-content">
                                                {{post.content_text | linebreaksbr}}
                                            </div>
                                        {% endif %}
                                        {% if post.content_image %}
                                            <div class="post-image" style="background-image: url(/Media/{{post.content_image}});"></div>
                                        {% else %}
                                            <div class="post-image" style="display: none;"></div>
                                        {% endif %}
                                        <div class="post-actions">
    
                                            {% if user in post.likers.all %}
                                                <div class="like" onclick="unlike_post(this)" data-post_id="{{post.id}}">
                                                    <div class="svg-span">
                                                        <img src="{% static 'Media/Images/heartFilled.svg' %}" alt="Liked" style="width: 1.1em; height: 1.1em;">
                                                    </div>
                                                    &nbsp;
                                                    <div style="padding: 7px 0px;" class="likes_count">{{post.likers.count}}</div>
                                                </div>
                                            {% else %}
                                                <div class="like" onclick="like_post(this)" data-post_id="{{post.id}}">
                                                    <div class="svg-span">
                                                        <img src="{% static 'Media/Images/heart.svg' %}" alt="Like" style="width: 1.1em; height: 1.1em;">
                                                    </div>
                                                    &nbsp;
                                                    <div style="padding: 7px 0px;" class="likes_count">{{post.likers.count}}</div>
                                                </div>
                                            {% endif %}
    
                                            <div class="comment" onclick="show_comment(this)">
                                                <div class="svg-span">
                                                        <img src="{% static 'Media/Images/comment.svg' %}" alt="Comment" style="width: 1.1em; height: 1.1em;">
                                                </div>&nbsp;
                                                <div style="padding: 7px 0px;" class="cmt-count">{{post.comment_count}}</div>
                                            </div>
    
    
    
    
                                            {% if user in post.savers.all %}
                                                <div class="save" onclick="unsave_post(this)" data-post_id="{{post.id}}">
                                                    <div class="svg-span">
                                                        <img src="{% static 'Media/Images/bookmarkedFilled.svg' %}" alt="Saved" style="width: 1.1em; height: 1.1em;">
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="save" onclick="save_post(this)" data-post_id="{{post.id}}">
                                                    <div class="svg-span">
                                                        <img class="fill-gray-400 hover:fill-green-400" src="{% static 'Media/Images/bookmarked.svg' %}" alt="Save" style="width: 1.1em; height: 1.1em;">
                                                    </div>
                                                </div>
                                            {% endif %}
    
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-div" style="display: none;" data-post_id="{{post.id}}">
                                    <div class="spinner-div">
                                        <img src="{% static 'Media/Images/spinner.gif' %}" id="spinner" height="65px">
                                    </div>
                                    {% if user.is_authenticated %}
                                        <div class="comment-div-data" style="display: none;">
                                            <div class="head-comment-input">
                                                <div>
                                                    <a href="{% url 'profile' user.username %}">
                                                        <div class="small-profilepic" style="background-image: url(/Media/{{user.profile_pic}})"></div>
                                                    </a>
                                                </div>
                                                <div style="flex: 1;">
                                                    <div class="comment-input-div">
                                                        <form class="comment-form" onsubmit="return write_comment(this)">
                                                            <input type="text" name="comment" class="comment-input" placeholder="Write a comment...">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-comments"></div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% empty %}
                            {% block emptyprofile %}
                            {% endblock %}
                            {% if page == 'all_posts' %}
                                <center>
                                    <br>
                                    <strong style="font-size: 1.2em;">Sorry! No one have posted anything yet.</strong>
                                    <div class="grey" style="font-size: .9em;">When they do, their posts will show up here.</div>
                                </center>
                            {% endif %}
                        {% endfor %}

                        <nav aria-label="Page navigation example" class="pagination-bar">
                            <ul class="pagination justify-content-center">
                                {% if posts.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ posts.previous_page_number | default:1}}" tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="" tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>
                                {% endif %}
                                {% for each in posts.paginator.page_range %}
                                    {% if each == posts.number %}
                                        <li class="page-item active"><a class="page-link" href="?page={{each}}">{{each}}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{each}}">{{each}}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if posts.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                          </nav>

                    </div>
                </div>
            </div>
        </div>
        
    </div>
    

{% endblock %}