{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Media{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'Media/styles.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'Media/Images/favicon.png' %}">
        <script type="text/javascript" src="{% static 'Media/layout.js' %}"></script>
        {% block head %}
        {% endblock %}
        {% tailwind_css %}
    </head>
    <body>

        <div class="popup hidden fixed w-screen h-screen bg-black bg-opacity-50 z-[9999999]">
            {% comment %} Delete post Pop UP {% endcomment %}
            <div class="small-popup space-y-7 hidden absolute top-[200px] left-[37%] w-[23%] transform -translate-x-1/2 -translate-y-1/2 bg-white text-center p-6 overflow-auto rounded-[17px] animate-[small_popup_0.2s_forwards]">
                <div style="margin-bottom: 10px; font-size: 1.1em;"><strong>Delete Post?</strong></div>
                <div class="text-[#657786]" style="font-size: .85em; margin-bottom: 15px;">
                    This can’t be undone and it will be removed from your profile, the timeline of any accounts that follow you, and from Media search results.
                </div>
                <div style="padding: 0px 5%;">
                    <button class="btn px-7 bg-gray-200 rounded-full" onclick="remove_popup()">Cancel</button>
                    <button class="btn px-7 bg-red-500 rounded-full" id="delete_post_btn">Delete</button>
                </div>
            </div>
            {% comment %} Edit post Pop UP {% endcomment %}
            <div class="large-popup flex-wrap hidden absolute top-8 w-5/12 max-h-[90vh] transform -translate-x-1/2 -translate-y-1/2 bg-white  overflow-auto rounded-lg animate-fadeIn">
                <div class="flex">
                    <div>
                        <div class="small-profilepic bg-cover bg-center" style="background-image: url(/Media/{{user.profile_pic}});"></div>
                    </div>
                    <div class="w-full flex">
                        <form action="{% url 'createpost' %}" method="POST" class="newpost" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea 
                                name="text" 
                                autofocus 
                                placeholder="What's happening?" 
                                rows="5" 
                                id="post-text" 
                                class="w-full outline-none border-none"></textarea>
                            <input type="hidden" id="img-change" value="false">
                            <div id="img-div" class="mt-2">
                                <button id="del-img" type="button" class="flex items-center">
                                    {% comment %} <img src="Media/Images/close.svg" alt="close" /> {% endcomment %}
                                    <svg width="1.55em" height="1.55em" viewBox="0 0 24 24" class="r-jwli3a r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue" fill="#fff">
                                        <g><path d="M13.414 12l5.793-5.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0L12 10.586 6.207 4.793c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L10.586 12l-5.793 5.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L12 13.414l5.793 5.793c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L13.414 12z"></path></g>
                                        </svg>
                                </button>
                                <img src="{% static 'Media/Images/spinner.gif' %}" id="spinner" height="70px" class="ml-2">
                            </div>
                            <hr class="my-2">
                            <div class="form-action-btns flex justify-between mt-4">
                                <div>
                                    <input 
                                        name="picture" 
                                        accept="image/jpeg,image/png,image/webp,image/gif" 
                                        type="file" 
                                        class="hidden" 
                                        id="insert-img" 
                                        data-focusable="true">
                                    <label for="insert-img" class="icon-btn form-icon-btn inline-flex items-center">
                                        <img src="\static\Media\images\photo.svg" alt="photo" /> 
                                        <span class="text-sm">&nbsp;Photo</span>
                                    </label>
                                </div>
                                <div>
                                    <button 
                                        class="btn btn-light float-right cancel-post bg-gray-200 text-gray-800 px-4 py-2 rounded-md" 
                                        type="button" 
                                        onclick="remove_popup()">Cancel</button>
                                    <input 
                                        type="submit" 
                                        class="btn btn-success float-right submit-btn bg-green-600 text-white px-4 py-2 rounded-md ml-2" 
                                        value="&nbsp;Post&nbsp;" 
                                        disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="login-popup">
                <div onclick="remove_popup()" class="icon-btn">
                            <img src="\static\Media\images\closeGreen.svg" alt="close"/>
                </div>
                <center>
                    <div class="icon-div">
                        <img src="{% static 'Media/Images/heartFilled.svg' %}" alt="Liked" style="width: 1.1em; height: 1.1em;">
                    </div>
                    <div class="main_text-div">
                        <h2></h2>
                        <div class="grey">
                            Join Media today to connect with people you know.hello
                        </div>
                    </div>
                    <div class="btn-div">
                        <button class="btn btn-success btn-block" onclick="goto_register()">Sign Up</button>
                        <button class="btn btn-outline-success btn-block" onclick="goto_login()">Login</button>
                    </div>
                </center>
            </div>
        </div>
        <div class="body" data-page="{{page}}">
            <div class="sidenav">
                <a href="{% url 'index' %}" class="navbar-brand">
                    <img class=" w-60 -ml-5" src="{% static 'Media/Images/logo.png' %}" >
                </a>
                <hr class="-ml-7 border-green-300"/>
                <div style="height: 100%;">
                    <div>
                        <div>
                            <ul>
                                <li class="nav-item" id="all_posts">
                                <a href="{% url 'index' %}" class="nav-link">
                                    <div class="w-full flex flex-row justify-center items-center">
                                        <img src="\static\Media\images\Allposts.svg" alt="all_Posts"/>
                                        &nbsp;&nbsp;All Posts
                                    </div>
                                </a>
                                </li>
                                {% if user.is_authenticated %}
                                    <li class="nav-item" id="following">
                                        <a href="{% url 'following' %}" class="nav-link">
                                            <div class="w-full flex flex-row justify-center items-center">
                                                <img src="\static\Media\images\following.svg" alt="following" />
                                                &nbsp;&nbsp;Following
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="saved">
                                        <a href="{% url 'saved' %}" class="nav-link">
                                            <div class="w-full flex flex-row justify-center items-center">
                                                <img src="\static\Media\images\saved.svg" alt="saved" />
                                                &nbsp;&nbsp;Saved
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="profile">
                                        <a href="{% url 'profile' user.username %}" class="nav-link">
                                            <div class="w-full flex flex-row justify-center items-center">
                                                <img src="\static\Media\images\profile.svg" alt="profile" />
                                                &nbsp;&nbsp;Profile
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="logout">
                                        <a href="{% url 'logout' %}" class="nav-link">
                                            <div class="w-full flex flex-row justify-center items-center">
                                                <img src="\static\Media\images\logout.svg" alt="logout" />
                                                &nbsp;&nbsp;Log Out
                                            </div>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="nav-item" id="login">
                                        <a href="{% url 'login' %}" class="nav-link">
                                            <div class="w-full flex flex-row justify-center items-center">
                                                 <img src="\static\Media\images\login.svg" alt="login" /> 
                                                &nbsp;&nbsp;Log In
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="Signup">
                                        <a href="{% url 'register' %}" class="nav-link">
                                            <div class="w-full flex flex-row justify-center items-center">
                                                <img src="\static\Media\images\signup.svg" alt="signup" /> 
                                                &nbsp;&nbsp;Sign Up
                                            </div>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        {% if user.is_authenticated %}
                            <button id="popup-btn" class="btn btn-success mt-5 new-post-btn" onclick="createpost()">Create Post</button>
                        {% endif %}
                    </div>
                    <div style="position: absolute; bottom: 10px;">
                        {% if user.is_authenticated %}    
                            <li class="nav-item sidenav-user">
                                <a href="{% url 'profile' user.username %}" class="nav-link">
                                    <div class="user_account">
                                        <div class="small-profilepic" style="float: left; background-image: url(/Media/{{user.profile_pic}})"></div>
                                        <div style="height: 2.7vw; margin: auto;">
                                            <div style="margin-top: 4px;"><strong>{{user.first_name}} {{user.last_name}}</strong></div>
                                            <div class="grey" style="margin-top: 4px;">@{{ user.username }}</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <input type="hidden" id="user_is_authenticated" value="True" data-username='{{user.username}}'>
                        {% else %}
                            <input type="hidden" id="user_is_authenticated" value="False">
                        {% endif %}
                    </div>
                </div>
            </div>
            
            {% block body %}
            {% endblock %}

            <div class="right-div">
                <nav class="head">
                    <form action="#">
                        <div class="search-div">
                            <div>
                                    <img src="{% static 'Media/Images/search.svg' %}" alt="search">
                            </div>
                            <input type="text" name="query" id="search-box" placeholder="Search Media">
                        </div>
                    </form>
                </nav>
                <div class='right-div-content'>
                    <div class="space" style="background-color: white;"></div>
                    {% if user.is_authenticated %}
                        <div class="suggestion-box">
                            <div class="suggestion-header">
                                You might know
                            </div>
                            {% for suggestion in suggestions %}
                                <div class="suggestion-user">
                                    <div>
                                        <a href="{% url 'profile' suggestion.username %}">
                                            <div class="small-profilepic" style="background-image: url(/Media/{{suggestion.profile_pic}})"></div>
                                        </a>
                                    </div>
                                    <div class="user-details">
                                        <a href="{% url 'profile' suggestion.username %}">
                                            <div id="user-name">
                                                
                                                <strong>
                                                    {{suggestion.first_name}} {{suggestion.last_name}}
                                                </strong>
                                            </div>
                                            <div class="grey">@{{suggestion.username}}</div>
                                        </a>
                                    </div>
                                    <div>
                                        <button class="btn btn-outline-success" type="button" onclick="follow_user(this,'{{suggestion.username}}','suggestion')">Follow</button>
                                    </div>
                                </div>
                            {% empty %}
                                    <div style="text-align: center; border-bottom: .5px solid #e6ecf0; padding: 10px 15px;">
                                        <span class="grey" style="font-size: .9em;">No suggestions available.</span>
                                    </div>
                            {% endfor %}
                            <div class="suggestion-footer">
                                <a href="#">Show more</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="guest-box">
                            <center>
                                <div class="guest-header">
                                    <h5>New to Media?</h5>
                                </div>
                                <div class="grey guest-content">
                                    Sign up now to get connected with people you know.
                                </div>
                                <div class="guest-btn">
                                    <button class="btn btn-success btn-block" type="button" onclick="goto_register()">Sign Up</button>
                                </div>
                            </center>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </body>
</html>