{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Media{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'Media/styles.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'Media/Images/favicon.png' %}">
        <script type="text/javascript" src="{% static 'Media/layout.js' %}"></script>
        {% block head %}
        {% endblock %}
        {% tailwind_css %}
    </head>
    <body>

        <div class="popup hidden fixed w-screen h-screen bg-black bg-opacity-50 z-[9999999]">
            {% comment %} Delete post Pop UP {% endcomment %}
            <div class="small-popup space-y-7 hidden absolute top-[200px] left-[37%] w-[23%] transform -translate-x-1/2 -translate-y-1/2 bg-white text-center p-6 overflow-auto rounded-[17px] animate-[small_popup_0.2s_forwards]">
                <div style="margin-bottom: 10px; font-size: 1.1em;"><strong>Delete Post?</strong></div>
                <div class="text-[#657786]" style="font-size: .85em; margin-bottom: 15px;">
                    This can’t be undone and it will be removed from your profile, the timeline of any accounts that follow you, and from Media search results.
                </div>
                <div style="padding: 0px 5%;">
                    <button class="btn px-7 bg-gray-200 rounded-full" onclick="remove_popup()">Cancel</button>
                    <button class="btn px-7 bg-red-500 rounded-full" id="delete_post_btn">Delete</button>
                </div>
            </div>
            {% comment %} Edit post Pop UP {% endcomment %}
            <div class="large-popup bg-white w-5/12 max-h-[90vh] p-6 rounded-lg overflow-auto hidden absolute top-[34px] left-[25%] translate-x-[10%] ">
                <div class="flex flex-row justify-start items-start">
                    <div class="flex items-center">
                        <div class="small-profilepic " style="background-image: url(/Media/{{user.profile_pic}});"></div>
                    </div>
                    <div class="form-area w-full">
                        <form action="{% url 'createpost' %}" method="POST" class="newpost" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="text" autofocus placeholder="What's happening?" rows="5" id="post-text" class="w-full outline-none border-none"></textarea>
                            <input type="hidden" id="img-change" value="false"></input>
                            <div id='img-div' class="flex items-center">
                                <button id="del-img" type='button' class="text-white">
                                    <svg width="1.55em" height="1.55em" viewBox="0 0 24 24" fill="#fff">
                                        <g>
                                            <path d="M13.414 12l5.793-5.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0L12 10.586 6.207 4.793c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L10.586 12l-5.793 5.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L12 13.414l5.793 5.793c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L13.414 12z"></path>
                                        </g>
                                    </svg>
                                </button>
                                <img src="{% static 'Media/Images/spinner.gif' %}" id='spinner' class="h-[20px]">
                            </div>
                            <hr class="my-2">
                            <div class="form-action-btns flex justify-between">
                                <div>
                                    <input name='picture' accept="image/jpeg,image/png,image/webp,image/gif" type="file" style="display: none;" id="insert-img">
                                    <label for="insert-img" class="flex items-center gap-2 cursor-pointer">
                                        <img src="{% static '/Media/Images/photo.svg' %}" alt="Photo">
                                        <span class="text-sm">&nbsp;Photo</span>
                                    </label>
                                </div>
                                <div>
                                    <button class="btn btn-light float-right cancel-post" type="button" onclick="remove_popup()">Cancel</button>
                                    <input type="submit" class="btn btn-success float-right submit-btn" value="&nbsp;Post&nbsp;" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="login-popup">
                <div onclick="remove_popup()" class="icon-btn">
                            <img src="\static\Media\images\closeGreen.svg" alt="close"/>
                </div>
                <center>
                    <div class="icon-div">
                        <img src="{% static 'Media\images\heartFilled.svg' %}" alt="Liked" style="width: 1.1em; height: 1.1em;">
                    </div>
                    <div class="main_text-div">
                        <h2></h2>
                        <div class="grey">
                            Join Media today to connect with people you know.hello
                        </div>
                    </div>
                    <div class="btn-div">
                        <button class="btn btn-success btn-block" onclick="goto_register()">Sign Up</button>
                        <button class="btn btn-outline-success btn-block" onclick="goto_login()">Login</button>
                    </div>
                </center>
            </div>
        </div>
        <div class="body" data-page="{{page}}">
            <div class="sidenav">
                <a href="{% url 'index' %}" class="navbar-brand">
                    <img class=" w-60 -ml-5" src="{% static 'Media/Images/logo.png' %}" >
                </a>
                <hr class="-ml-7 border-green-300"/>
                <div style="height: 100%;">
                    <div>
                        <div>
                            <ul>
                                <li class="nav-item" id="all_posts">
                                <a href="{% url 'index' %}" class="nav-link">
                                    <div class="w-full flex flex-row justify-center items-center">
                                        <img src="\static\Media\images\Allposts.svg" alt="all_Posts"/>
                                        &nbsp;&nbsp;All Posts
                                    </div>
                                </a>
                                </li>
                                {% if user.is_authenticated %}
                                    <li class="nav-item" id="following">
                                        <a href="{% url 'following' %}" class="nav-link">
                                            <div class="w-full flex flex-row justify-center items-center">
                                                <img src="\static\Media\images\following.svg" alt="following" />
                                                &nbsp;&nbsp;Following
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="saved">
                                        <a href="{% url 'saved' %}" class="nav-link">
                                            <div class="w-full flex flex-row justify-center items-center">
                                                <img src="\static\Media\images\saved.svg" alt="saved" />
                                                &nbsp;&nbsp;Saved
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="profile">
                                        <a href="{% url 'profile' user.username %}" class="nav-link">
                                            <div class="w-full flex flex-row justify-center items-center">
                                                <img src="\static\Media\images\profile.svg" alt="profile" />
                                                &nbsp;&nbsp;Profile
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="logout">
                                        <a href="{% url 'logout' %}" class="nav-link">
                                            <div class="w-full flex flex-row justify-center items-center">
                                                <img src="\static\Media\images\logout.svg" alt="logout" />
                                                &nbsp;&nbsp;Log Out
                                            </div>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="nav-item" id="login">
                                        <a href="{% url 'login' %}" class="nav-link">
                                            <div class="w-full flex flex-row justify-center items-center">
                                                 <img src="\static\Media\images\login.svg" alt="login" /> 
                                                &nbsp;&nbsp;Log In
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="Signup">
                                        <a href="{% url 'register' %}" class="nav-link">
                                            <div class="w-full flex flex-row justify-center items-center">
                                                <img src="\static\Media\images\signup.svg" alt="signup" /> 
                                                &nbsp;&nbsp;Sign Up
                                            </div>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        {% if user.is_authenticated %}
                            <button id="popup-btn" class="btn btn-success mt-5 new-post-btn" onclick="createpost()">Create Post</button>
                        {% endif %}
                    </div>
                    <div style="position: absolute; bottom: 10px;">
                        {% if user.is_authenticated %}    
                            <li class="nav-item sidenav-user">
                                <a href="{% url 'profile' user.username %}" class="nav-link">
                                    <div class="user_account">
                                        <div class="small-profilepic" style="float: left; background-image: url(/Media/{{user.profile_pic}})"></div>
                                        <div style="height: 2.7vw; margin: auto;">
                                            <div style="margin-top: 4px;"><strong>{{user.first_name}} {{user.last_name}}</strong></div>
                                            <div class="grey" style="margin-top: 4px;">@{{ user.username }}</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <input type="hidden" id="user_is_authenticated" value="True" data-username='{{user.username}}'>
                        {% else %}
                            <input type="hidden" id="user_is_authenticated" value="False">
                        {% endif %}
                    </div>
                </div>
            </div>
            
            {% block body %}
            {% endblock %}

            <div class="right-div">
                <nav class="head">
                    <form action="#">
                        <div class="search-div">
                            <div>
                                    <img src="{% static 'Media/Images/search.svg' %}" alt="search">
                            </div>
                            <input type="text" name="query" id="search-box" placeholder="Search Media">
                        </div>
                    </form>
                </nav>
                <div class="h-[92.5vh] overflow-auto px-[1.5vw]">
                    <div class="bg-white"></div>
                    {% if user.is_authenticated %}
                      <div class="rounded-[15px] overflow-hidden bg-[#f5f8fa]">
                        <div class="px-[15px] py-[13px] font-extrabold border-b-[0.5px] border-[#e6ecf0]">
                          You might know
                        </div>
                        {% for suggestion in suggestions %}
                          <div class="flex items-center px-[15px] py-[10px] text-sm border-b-[0.5px] border-[#e6ecf0] hover:bg-[#edf0f4] cursor-pointer transition duration-200">
                            <div>
                              <a href="{% url 'profile' suggestion.username %}">
                                <div class="w-[40px] h-[40px] bg-center bg-cover rounded-full" style="background-image: url(/Media/{{suggestion.profile_pic}})"></div>
                              </a>
                            </div>
                            <div class="flex-1 ml-3">
                              <a href="{% url 'profile' suggestion.username %}" class="text-black no-underline">
                                <div class="font-bold hover:underline">{{suggestion.first_name}} {{suggestion.last_name}}</div>
                                <div class="text-gray-500">@{{suggestion.username}}</div>
                              </a>
                            </div>
                            <div>
                              <button class="px-4 py-[0.25em] border border-green-500 text-green-500 rounded hover:bg-green-500 hover:text-white transition" type="button" onclick="follow_user(this, '{{suggestion.username}}', 'suggestion')">Follow</button>
                            </div>
                          </div>
                        {% empty %}
                          <div class="text-center border-b-[0.5px] border-[#e6ecf0] px-[15px] py-[10px] text-gray-500 text-sm">
                            No suggestions available.
                          </div>
                        {% endfor %}
                        <div class="px-[15px] py-[13px]">
                          <a href="#" class="no-underline">Show more</a>
                        </div>
                      </div>
                    {% else %}
                      <div class="rounded-[15px]  overflow-hidden bg-[#f5f8fa]">
                        <center class="flex px-2 flex-col justify-between gap-3">
                          <div>
                            <h5 class=" text-xl font-bold mt-2">New to Media?</h5>
                          </div>
                          <div class="text-gray-500 text-sm">
                            Sign up now to get connected with people you know.
                          </div>
                          <div class="mb-3">
                            <button class="w-fit min-w-60 px-7 py-2 rounded-full bg-green-500 text-white hover:bg-green-600 transition" type="button" onclick="goto_register()">Sign Up</button>
                          </div>
                        </center>
                      </div>
                    {% endif %}
                  </div>
                  
            </div>
            </div>
        </div>

    </body>
</html>