{% extends 'Media/index.html' %}

{% load static %}

{% block profile %}
    <div class="profile-view" data-user="{{username.username}}">
        <div class="h-[210px] bg-cover bg-center bg-no-repeat bg-[#ccd6dd]" style="background-image: url(/Media/{{username.cover}})"></div>
        <div class="absolute w-[160px] h-[160px] left-[15px] top-[110px] rounded-full border-4 border-white bg-white bg-cover bg-center bg-no-repeat" style="background-image: url(/Media/{{username.profile_pic}})"></div>
        <div class="p-[15px_20px]">
            <div>
                {% if user.username == username.username %}
                    <button class="btn btn-outline-success float-right" id="edit-profile-btn">Edit Profile</button>
                {% elif is_follower %}
                    <button class="btn btn-success float-right" onclick="unfollow_user(this,'{{username.username}}','edit_page')" id="following-btn">Following</button>
                {% else %}
                    <button class="btn btn-outline-success float-right" onclick="follow_user(this,'{{username.username}}','edit_page')" id="follow-btn">Follow</button>
                {% endif %}
            </div>
            <div class="mt-[52px] text-[.92em]">
                <h5 class="font-bold mb-0">{{username.first_name}} {{username.last_name}}</h5>
                <div class="text-gray-500">@{{username.username}}</div>
                <div class="mt-[8px]">
                    {% if username.bio is not None %}
                        {{username.bio}}
                    {% endif %}
                </div>
                <div class="text-gray-500 flex justify-start items-center py-[8px_0px]">
                  <img src="{% static 'Media/images/calender.svg' %}" class="w-[15px] h-[15px] mr-[5px]">
                    &nbsp;Joined {{username.date_joined | date:"F Y"}}
                </div>
                <div>
                    <strong>
                        {{posts_count}}
                    </strong>
                    &nbsp;<span class="text-gray-500">Posts</span>
                    &ensp;
                    <a href="#">
                        <strong id="following__count">{{following_count | default:0}}</strong>&nbsp;<span class="text-gray-500">Following</span>
                    </a>
                    &ensp;
                    <a href="#">
                        <strong id="follower__count">{{follower_count | default:0}}</strong>&nbsp;<span class="text-gray-500">Followers</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="my-[2rem]"></div>
{% endblock %}

{% block emptyprofile %}
    <center>
        <br>
        <strong class="text-[1.2em]">@{{username}} hasn't posted</strong>
        <div class="text-gray-500 text-[.9em]">When they do, their posts will show up here.</div>
    </center>
{% endblock %}
