.form-control:focus{
    box-shadow: 0 0 0 0.1rem rgba(40,167,69,.25);
    border-color: rgb(33,136,56);
}
.btn, .btn:focus, .btn:active{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.btn{
    color: white;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    border-radius: 999px;
    width: 95%;
}
.btn:hover, .btn:active, .btn:focus{
    background-color: #218838 !important;
    border-color: #218838 !important;
}
.star{
    color: red;
}

.Member-box{
    background-color: #fff;
    width: 45%;
    border-radius: 5px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px 10px 50px;
}

.Member-box form > div{
    margin-left: 10px;
    margin-right: 10px;
}

.custom-file-label{
    overflow: hidden;
}

.small{
    font-size: small;
}


.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}


.header {
    text-align: center;
    color: #4CAF50;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1cm;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-header {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    text-align: left;
}

.table-row:nth-child(even) {
    background-color: #f2f2f2;
}

.table-data {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Profile Picture and Cover Image Styling */
.user-img, .cover-img {
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
}

.table-data img {
    border-radius: 50%;
}

.table-data img:last-child {
    border-radius: 0;
}

/* Button Styling */
.delete-button {
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #d32f2f;
}

/* Empty Table Message */
.empty-row {
    text-align: center;
}

.empty-message {
    color: #888;
    font-size: 16px;
    padding: 20px;
}
